@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
  height: 100vh;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    background-color: #F4F4F9;
    font-family: "Nunito", serif;
  }

  nav {
    border-bottom: thick double #B8DBD9;
    background-color: #F4F4F9;
    height: 60px;
    padding-left: 10px;
  }

  nav, .container {
    margin: 8px;
  }

.container {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 10px;
  height: 100%;
  
}

.sidebar, .main {
  background-color: #2F4550;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.new-task-bttn {
  margin-bottom: 8px;
}

.new-task-bttn, .new-project-bttn {
  width: 100%;
  background-color: #F4F4F9;
  border: none;
  border-radius: 5px;
  font-family: "Nunito", serif;
  height: 30px;
  box-shadow: 3px 4px 7px #000;
}

.new-task-bttn:active, .new-project-bttn:active {
  box-shadow: inset 3px 4px 7px #000;
}

.new-task-bttn:hover, .new-project-bttn:hover {
 background-color: #B8DBD9;
 color: #F4F4F9;
}

.tasks h2:hover, .projects h2:hover {
  color: #B8DBD9;
}
