html, body {
  height: 100vh;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
  }

  nav, .container {
    margin: 8px;
  }

.container {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 10px;
  height: 100%;
}

.sidebar, .main {
  background-color: white;
  border: 1px solid black;
}
